# Nuxt dev/build outputs
.output
.data
dist
nuxt.d.ts
.nuxt

# Node dependencies
node_modules

# IDE
.idea
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.*
!.env.example

# Testing
coverage

# Misc
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo
